.flex-form {
    display: flex;
    margin: auto;
    width: 25%;
    flex-direction: column;
}

.gap-1 {
    gap: 0.5rem;
}

button {
    cursor: pointer;
    font-weight: bolder;
}

.btn {
    padding: 0.6rem;
    outline: none;
    border: none;
}

.bg-blue {
    background-color: blue;
    color: white;
}

.bg-blue:hover {
    background-color: darkblue;
}

.txt-center {
    text-align: center;
}
